Proyecto final.json
{
  "name": "Proyecto final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "justificaciones",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0d526444-90ca-4a88-8fb9-8f9e8429d9bc",
      "name": "Webhook",
      "webhookId": "b968f6d4-9c2d-47fa-a422-c42eb2e69c23"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cf887751-e329-4d8e-af2b-3c0d133045c3",
              "leftValue": "=pdf, jpeg, jpg, png, PDF, JPG",
              "rightValue": "={{ $('Webhook').first().json.body.documento }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6d52f985-4c01-4e26-945f-a276f69d72db",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -48
      ],
      "id": "cefd30bc-29dc-4f22-8d54-7637fbf5260d",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.correo }}",
        "subject": "invalido",
        "message": "=Hola {{ $('Webhook').item.json.body.nombre }}, el sistema ha rechazado tu solicitud porque el archivo adjunto no tiene un formato válido. Por favor, vuelve a llenar el formulario asegurándote de subir un documento en formato PDF, JPG o PNG.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        112
      ],
      "id": "c71c7533-af5e-486c-8549-5745ae819c9e",
      "name": "Send a message",
      "webhookId": "5bf64216-2fb3-4a1a-adc8-1000e610bc6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "IAkc80gIqwwE5IQ2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        48
      ],
      "id": "7593761b-f999-4421-9ac6-5b27d220a846",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0mD3MWJGLZ8aVBcc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos del alumno en el formulario:\nNombre: {{ $node['Webhook'].json.body.nombre }}\nMotivo declarado: {{ $node['Webhook'].json.body.motivo }}\n\nTexto extraído del documento real que subió:\n{{ $json.text }}\n\nPor favor, analiza si el texto del documento valida el motivo del alumno.\nEres un evaluador de control de estudios de ingeniería. Analiza de forma estricta pero justa el texto del documento. Comprueba que las fechas coincidan y que el documento no sea falso o hable de otra persona. \n\nSi el documento es correcto, tu decisión será VÁLIDO.\nSi el documento claramente no coincide o es falso, tu decisión será INVÁLIDO.\nSi el texto es confuso, borroso o no puedes decidir con certeza si es válido o no, tu decisión será ENDUDA.\n\nResponde obligatoriamente con este formato exacto:\nDECISIÓN: [Escribe aquí VÁLIDO o INVÁLIDO o ENDUDA]\nMOTIVO: [Escribe aquí una breve explicación]\n\nREGLA CRÍTICA DE FORMATO: No utilices ningún signo de puntuación o formato especial que no sean letras o números. Está completamente prohibido usar asteriscos, comillas simples, comillas dobles, puntos y comas, o guiones (por ejemplo, no uses *, **, '', \"\", ;, -). Solo texto limpio.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -112
      ],
      "id": "e3334a3e-2e3c-45aa-b205-35168742c9b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "d37846f3-2ced-4cd1-ad1c-6080bdbfe79e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        528
      ],
      "webhookId": "2931fffd-b6d8-4246-bdc2-d2f33425c7ff",
      "credentials": {
        "telegramApi": {
          "id": "sDL0e1EflGHS946l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text || $json.callback_query?.data }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "ver_estado",
              "output": 1
            },
            {
              "value2": "crear tramite",
              "output": 2
            }
          ]
        }
      },
      "id": "cc29d979-dacf-4c89-96ef-9e60d0f000a1",
      "name": "Switch Menu",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        144,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asgn-1",
              "name": "codigoAlumno",
              "value": "=\"ATH-\" + Math.floor(1000 + Math.random() * 9000)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cc91ffed-35b3-409f-be18-33854a9d8890",
      "name": "Generar Código Alumno",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q",
          "mode": "list",
          "cachedResultName": "skill n8n 12",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "documento": "sin archivo",
            "nombre": "=={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "valido o inavlido": "REGISTRADO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valido o inavlido",
              "displayName": "valido o inavlido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cc45efa7-9f27-4616-9ee6-8c50d45cda74",
      "name": "Registrar Alumno Nuevo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        656,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CW0gvvMhDIb6ADbg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\"¡Bienvenido al sistema de control de estudios! Ahora que te hemos registrado exitosamente. ¿Qué vamos a hacer hoy cerebro?\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📝 Reportar Falta",
                    "additionalFields": {
                      "callback_data": "crear_tramite"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔍 Consultar Estado",
                    "additionalFields": {
                      "callback_data": "ver_estado"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "301d25d4-0606-40c7-af3d-8375b181271e",
      "name": "Enviar Bienvenida",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        384
      ],
      "webhookId": "9200863a-dbab-4311-9acb-aefbfc8b269c",
      "credentials": {
        "telegramApi": {
          "id": "sDL0e1EflGHS946l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q",
          "mode": "list",
          "cachedResultName": "skill n8n 12",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "nombre",
              "lookupValue": "={{ $json.callback_query.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "beccf417-16d8-4ce6-800f-e48dd9e14219",
      "name": "Buscar Estado Alumno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        416,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CW0gvvMhDIb6ADbg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=Hola, el estado de tu trámite actual es: {{ $json[\"valido o inavlido\"] }}}",
        "additionalFields": {}
      },
      "id": "ae51c00b-d3ed-4c20-a60b-aca5d242fe02",
      "name": "Responder Estado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        624
      ],
      "webhookId": "d9624484-814e-42eb-acbe-f11a448df36a",
      "credentials": {
        "telegramApi": {
          "id": "sDL0e1EflGHS946l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asgn-2",
              "name": "idTramite",
              "value": "=\"AETHER-2026-TG-\" + Math.floor(100000 + Math.random() * 900000)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0acb1d7a-a8ad-4b1d-97a3-6ac66d5e231f",
      "name": "Generar ID Trámite",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        848
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q",
          "mode": "list",
          "cachedResultName": "skill n8n 12",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id_tramite",
              "displayName": "Id_tramite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valido o inavlido",
              "displayName": "valido o inavlido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c7d5b2a0-185d-4613-8509-5f54afd18f8f",
      "name": "Guardar Trámite Pendiente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CW0gvvMhDIb6ADbg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ 'Tu trámite ha sido abierto con el ID: ' + $json.idTramite + '. Por favor, envía ahora tu documento de justificación.' }}",
        "additionalFields": {}
      },
      "id": "73813d2d-560b-42db-b765-409ab1b294e8",
      "name": "Confirmar Trámite Alumno",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        688
      ],
      "webhookId": "3a406184-3841-4e90-8b80-53b7af4186e3",
      "credentials": {
        "telegramApi": {
          "id": "sDL0e1EflGHS946l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q",
          "mode": "list",
          "cachedResultName": "skill n8n 12",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dFbhmn8UD4DX7lxcC-cpDSTTkGT9OvH_IJO-lCFEf_Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $('Webhook').item.json.body.nombre }}",
            "valido o inavlido": "={{ $json.output }}",
            "documento": "={{ $('Webhook').item.json.webhookUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id_tramite",
              "displayName": "Id_tramite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valido o inavlido",
              "displayName": "valido o inavlido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -144
      ],
      "id": "d4198a90-7182-48d0-a0d7-e54a5448d78b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CW0gvvMhDIb6ADbg",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Menu": {
      "main": [
        [
          {
            "node": "Generar Código Alumno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Estado Alumno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar ID Trámite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Código Alumno": {
      "main": [
        [
          {
            "node": "Registrar Alumno Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Alumno Nuevo": {
      "main": [
        [
          {
            "node": "Enviar Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado Alumno": {
      "main": [
        [
          {
            "node": "Responder Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar ID Trámite": {
      "main": [
        [
          {
            "node": "Guardar Trámite Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Trámite Pendiente": {
      "main": [
        [
          {
            "node": "Confirmar Trámite Alumno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2dbf0f2a-5312-4014-925c-08ce55961852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2971cd0884a9533daaa147874b20ff34c1ca6cf5216afd5ee71168856e46b9f2"
  },
  "id": "NHg7Yn3ymKu4M57e",
  "tags": []
}